/* ==========================================
    @Archieve Page
=========================================== */

.post-content {
    margin-bottom: 30px !important;
    border-bottom: solid 2px $silver;

    &--container { 
        padding-bottom: 20px;
    }

    &--date {
        font-family:"Helvetica Neue LT W01_65 Mediu" !important;
        color: $dark-blue !important;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    &--image {
        margin-left: 0px !important;
    }

    &--heading {
        padding-bottom: 0px;
        margin-bottom: 20px;
        @include H04;

        a:hover {
           color: $dark-blue !important;
           text-decoration: none !important; 
        }
    }

    &--cat {
        margin-bottom: 10px !important;
        color: $light-blue !important;
        
        a {
           text-decoration: none !important; 
        }
    }

    &--btn {
        color: $white !important;
        font-size: 16px !important;
        padding: 8px 25px;
        height: 40px;
        margin: 30px 10px 0px 0px!important;
        border-radius: 2px;
        display: inline-block;
        background-color: $light-blue;
    }

    &--text {
        margin-bottom: 30px;
        @include P02---grey;
    }

    &--featured-image {
        margin-bottom: 20px !important;
    }

    &--tags {
        display: inline-block;
        ul {
            padding-left: 0px !important;
            list-style: none;
            li {
                float: left;
                display: inline-block;
                font-size: 16px;
                padding: 10px 25px;
                margin: 0 16px 20px 0;
                border-radius: 2px;
                background-color: $teal;

                a {
                    color: $white !important;
                    text-decoration: none !important;
                }
            }
        }
    }
}

.block-pagination {
    .current{
        display: block;
        height: 44px;
        width: 44px;
        color: $white !important;
        background: $light-blue !important;
    }

    .page-numbers{
        display: block;
        height: 44px;
        width: 44px;
        float: left;
        padding: 10px 15px;
        color: $light-blue;
        background: $light-grey;
        border: solid 1px $silver;
        text-decoration: none !important;
    }
}

.mobile-search {
    @include atTiny {
        display: block;
    }

    @include atMedium {
        display: none;
    }
}

.desktop-search {
    @include atTiny {
        display: none;
    }

    @include atMedium {
        display: block;
    }
}

