/* ==========================================
    @Basic Page & Landing Page
=========================================== */

.category,
.page-template-page-template-basic, 
.page-template-page-template-landing,
.page-template-archive-newsroom_post,
.post-type-archive-newsroom_post,
.newsroom_post-template-default,
.tax-newsroom_categories,
.page-template-category,
.page-template-archives,
.page-template-archives-blog,
.post-template-default,
.single-newsroom_post,
.search-results,
.error404,
.date,
.tag { 
    #main-header {
        top: 0px !important;
        padding-top: 30px; 
        padding-bottom: 15px;
        background-color: $dark-blue !important;
        @include responsive($small-break) {
            padding-top: 0px !important;
        }
    }

    .et_pb_section {
        padding-top: 50px !important;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin-top: 0px;
            margin-bottom: 90px;
            background: $white;
        }
        
        p {
            a {
                color: $light-blue;
                text-decoration: none;
                &:hover,
                &:focus {
                    color: $mid-blue;
                    text-decoration: underline;
                }
            }
        }

        ul {
           a {
                color: $mid-blue;
                text-decoration: none;
                &:hover,
                &:focus {
                    color: $light-blue;
                    text-decoration: underline;
                }
            } 
        }
    }

    .et_pb_widget {
        word-wrap: initial !important;
    }

    .widget_search {
        margin-bottom: 18.54%;

        @include atSmallMax {
            margin-bottom: 8%;
        }

        .searchform {
            font-style: italic;
            font-size: 14px;
            margin-top: 20px;
            color: $silver !important;
        }

        .widget_search input#searchsubmit {
            height: 40px !important;
            margin: 0;
            padding: 0.7em;
            border: 1px solid $silver;
            color: $white;
            background-color: $orange;
            font-size: 14px;
            line-height: normal !important;
        }
    }

    .widget_categories {
        ul {
            margin-top: 20px;

            li.cat-item {
                float: left;
                display: inline-block;
                font-size: 16px;
                padding: 10px 25px;
                margin: 0 6px 20px 0;
                border-radius: 2px;
                border: solid 1px $silver;

                a {
                    color: $grey;
                    text-decoration: none !important;
                }
            }

            li.current-cat {
                background-color: $light-blue;
                border: none !important;

                a {
                    color: $white !important;
                    text-decoration: none !important;
                }
            }
        }
    }

    .widget_archive {
        .screen-reader-text {
            display: none;
        }

        select {
            font-family: 'Helvetica Neue LT W01_55 Roman' !important;
            font-style: italic;
            font-size: 14px;
            margin-top: 20px;
            height: 40px;
            width: 100%;
            border: 1px solid $silver !important;
            color: $grey !important;
        }
    }

    .widget_search #searchsubmit {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        color: $white !important;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: $orange !important;
    }

    .et_pb_widget_area .widget {
        margin-bottom: 18.54%;
    }

    .et_pb_text {
        display: inline-block;
        width:100%;
        
    }

    .et_pb_space {
        box-sizing: content-box !important;
        height: 0px !important;
        border: none !important;
        margin-bottom: 4.242% !important;
    }

    .page-heading {
        margin-bottom: 0px !important;
    }

    .widget_nav_menu {
        padding: 15px;
        background-color: $dark-blue;
        .widgettitle {
            color: $teal !important;
            text-transform: uppercase;
            border-bottom: solid 1px $white;
        }
        li {
            padding: 5px 0;
            border-bottom: solid 1px $mid-blue;
            a {
                font-size: 22px !important;
                @include Nav02;
                &:after {
                    float: right;
                    font-family: "Font Awesome 5 Free";
                    font-size: 22px;
                    font-weight: 800;
                    content: "\f105";
                    color: $mid-blue;
                }
                &:hover {
                    color: $mid-blue !important;
                    text-decoration: none !important;
                }

                &:visited {
                    color: $white !important;
                    text-decoration: none !important;
                }
            }
        }
    }

    .basic-page-section {
        @include atTiny {
            padding: 27px 15px 85px !important;
        }

        @include atXlarge {
            padding: 27px 0px 85px !important;
        }
    }

    .page-title {
        width: 100%;
        max-width: 1200px;
        z-index: 1;

        @include atTiny {
            margin: 155px auto 0;
        }

        @include atMedium {
            margin: 225px auto 0px;
        }

        @include atXlarge {
            margin: 180px auto 0px;
        }

        &--heading {
            width: 100%;
            height: auto;
            background: $teal;
            text-align: left !important;
            letter-spacing: normal;
            text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.5);
            margin-bottom: 8px;
            @include H02---white-dropshadow;

            @include atTiny {
                font-size: 30px !important;
                padding: 12px 10px;
            }
            @include atMedium {
                font-size: 45px !important;
                padding: 8px 10px;
            }

            @include atSmallMax {
                margin-bottom: 0px;
                margin-top: 5px;
            }
        }
    }

    .page-accordion {
        border: none;
        .et_pb_toggle_open {
            padding: 0px !important;
            background-color: #fff;
            border: none;
            .et_pb_toggle_title {
                padding: 20px;
                background: $light-grey;
                border-top: solid 2px $light-blue;
                @include H04;
                
                &:after {
                    position: absolute;
                    right: 10px;
                    font-family: "Font Awesome 5 Free";
                    font-size: 22px;
                    font-weight: 800;
                    content: "\f106";
                    color: $mid-blue;
                    transition: all .5s ease;
                }
            }
        }

        .et_pb_toggle_close {
            padding: 0px !important;
            background-color: $white;
            border: none;
            .et_pb_toggle_title {
                padding: 20px;
                background: $light-grey;
                border-top: solid 2px $light-blue;
                @include H04;

                &:before {
                    display: none;
                }

                &:after {
                    position: absolute;
                    right: 10px;
                    font-family: "Font Awesome 5 Free";
                    font-size: 22px;
                    font-weight: 800;
                    content: "\f107";
                    color: $mid-blue;
                }
            }
        }

        .et_pb_toggle_content {
            padding: 30px;
        }
    }

    h3 {
        // margin-bottom: 20px;
        @include H03---dark-blue; 
    }

    h4 {
        // margin-bottom: 20px;
        @include H04; 
    }

    h6 {
        // margin-bottom: 10px;
        @include H06---orange; 
    }

    .entry-content p {
        margin-bottom: 10px;
        @include P02---grey;
    }
    
    .small-button, .smallblue, .bigblue {
        font-family: 'Helvetica Neue LT W01_67 Md Cn' !important;
        color: $white !important;
        border-width: 0px !important;
        border-radius: 2px !important;
        background: rgba($light-blue, 1) !important;
        text-shadow: none;
        max-width: 370px;
        width: 100% !important;
        padding: 16px 5px !important;
        margin-bottom: 20px;
        text-transform: initial;
        font-weight: 500 !important;
        font-size: 16px !important;
        @extend .learn-more;

        &:hover {
            background: rgba($light-blue, .72) !important;
            text-shadow: none !important;
            max-width: 370px;
            width: 100% !important;
            padding: 16px 5px !important;
            text-decoration: none !important;
        }

        &:active {
            background: rgba($mid-blue, 1) !important; 
            text-shadow: none !important;
            max-width: 370px;
            width: 100% !important;
            padding: 16px 5px !important;
        }
    }

    .Rectangle-3 {
        width: 100%;
        max-width: 500px;
        height: 60px;
        padding: 0 10px !important;
        background-color: $teal;
    }
}

.page-template-page-template-basic {
    .et_pb_section {
        &:before {
            @include atTiny {
                width: 100%;
            }

            @include atLarge {
                width: 75%;
            }
        }
    }
}
 
.page-template-page-template-landing {
    .et_pb_section {
        &:before {
            @include atTiny {
                width: 100%;
            }

            @include atLarge {
                width: 75%;
            }
        }
    }
}

.page-template-archive-newsroom_post,
.post-type-archive-newsroom_post {
    #main-content {
        background-color: rgba(255, 255, 255, 0) !important;
    }

    .et_pb_section {
        &:before {
            @include atTiny {
                width: 100%;
            }
        }
    }

    .widgettitle {
        font-family:"Helvetica Neue LT W01_65 Mediu" !important;
        color: $dark-blue;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0px;
        text-transform: uppercase;
        border-bottom: solid 2px $silver;
    }
}

.date,
.category,
.search-results,
// .post-type-archive-newsroom_post,
.tax-newsroom_categories {
    #main-content {
        background-color: rgba(255, 255, 255, 0) !important;
    }

    .page-title--heading {
        margin-bottom: 0px !important;
    }

    .et_pb_section {
        top: -35px !important;
        padding-top: 75px !important;
        &:before {
            @include atTiny {
                width: 100%;
            }
        }
    }

    .widgettitle {
        color: $dark-blue;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 0px;
        text-transform: uppercase;
        border-bottom: solid 2px $silver;
    }
}

.page-template-archives {
    .et_pb_section {
        &:before {
            @include atTiny {
                width: 100%;
            }
        }
    }

    .widgettitle {
        font-family:"Helvetica Neue LT W01_65 Mediu" !important;
        color: $dark-blue;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0px;
        text-transform: uppercase;
        border-bottom: solid 2px $silver;
    }
}

.archive,
.error404,
.post-template-default,
.newsroom_post-template-default,
.page-template-archives-blog {
    #main-content {
        background-color: rgba(255, 255, 255, 0) !important;
    }

    .et_section_regular {
        padding-top: 0px !important;
    }

    .et_pb_section {
        &:before {
            @include atTiny {
                width: 100%;
            }
        }
    }

    .et_pb_post .entry-content {
        padding-top: 0px !important;
    }

    .widgettitle {
        font-family:"Helvetica Neue LT W01_65 Mediu" !important;
        color: $dark-blue;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0px;
        text-transform: uppercase;
        border-bottom: solid 2px $silver;
    }
}

.et_pb_section {
    &:before {
        @include atTiny {
            width: 100%;
        }

        @include atLarge {
            width: 85%;
        }

        @include atXlarge {
            width: 75%;
        }
    }
}

.et_pb_widget_area_left {
    padding-right: 5px;
    border-right: none !important;
}

.icons01 {
    @include icons01;
}

.breadcrumbs {
    position: relative;
    top: 50px;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 1;
    font-size: 12px;

    @include atTiny {
        padding: 5px 0 5px 15px;
    }

    @include atXlarge {
        padding: 5px 0;
    }
    
    .delimiter {
        color: $light-grey;
    }

    .current {
        color: $dark-blue;
    }

    a {
        color: $orange;
    }
}

.results {
    position: relative;
    top: 65px;
    max-width: 1200px;
    margin: 0 auto 20px;
    z-index: 1;

    @include atSmallMax {
        padding: 0 15px;
    }
}

.basic-page-bkgd {
    height: auto;
    overflow: hidden;
    margin-top: 30px;

    @include atLarge {
        height: 350px;
    }

    img {
        width: 480px;

        @include atTiny {
            top: -20px;
            margin-left: 0px;
        }

        @include atMedium {
            top: 0px;
            margin-left: 0px;
        }

        @include atLarge {
            top: -280px;
            margin-left: 90px;
        }
    }

    &--heading {
        font-size: 50px;
        width: 350px;
        @extend .keyhole-surgery-heading;
    }

    &--desc {
        font-size: 20px !important;
        text-align: center !important;
        color: $white !important;
        @include Nav02;
    }
}

.page-icon-with-list {
    padding: 0px;
    margin-bottom: 0px !important;
    
    @include atMedium {
        padding: 0 15px;
    }

    @include atXlarge {
        padding: 0px;
    }

    h6 {
        padding-bottom: 0px !important;
    }

    .fas {
        text-shadow: none;
    }
    .et_pb_blurb_content {
        position: relative;
        width: 100%;
        max-width: 550px;
        margin: 0;
        text-align: center;
    }
    .small-button, .smallblue, .bigblue {
        font-family: 'Helvetica Neue LT W01_67 Md Cn' !important;
        background: rgba($light-blue, 0) !important;
        border-width: 0px !important;
        box-shadow: none !important;
        text-shadow: none;
        padding: 0px !important;
        margin: 0px !important;
        width: 100%;

        &:hover {
            background: rgba($light-blue, 0) !important;
            text-shadow: none !important;
            padding: 0px !important;
            margin: 0px !important;
            text-decoration: none !important;
        }
        
        @include atTiny {
            text-align: center;
        }

        @include atMedium {
            text-align: left;
        }
    }
}

.page-buttons {
    padding: 0px;
    margin-bottom: 0px !important;

    @include atMedium {
        padding: 0 10px;
        // min-height: 235px;
        // margin-bottom: 30px !important;
    }
    @include atXlarge {
        padding: 0px;
    }
    .small-button, .smallblue, .bigblue {
        font-family: 'Helvetica Neue LT W01_67 Md Cn' !important;
        color: $white !important;
        border-width: 0px !important;
        border-radius: 2px !important;
        background: rgba($light-blue, 1) !important;
        text-shadow: none;
        max-width: 370px;
        width: 100% !important;
        padding: 16px 5px !important;
        margin-bottom: 20px;
        margin-right: 0px;
        text-transform: initial;
        font-weight: 500 !important;
        font-size: 16px !important;

        &:hover {
            background: rgba($light-blue, .72) !important;
            text-shadow: none !important;
            max-width: 370px;
            width: 100% !important;
            padding: 16px 5px !important;
            text-decoration: none !important;
        }

        &:active {
            background: rgba($mid-blue, 1) !important; 
            text-shadow: none !important;
            max-width: 370px;
            width: 100% !important;
            padding: 16px 5px !important;
        }
    }
}

.page-image {
    margin-bottom: 0px !important;
    .et_pb_image_wrap {
        display: inline-block;
        position: relative;
        width: 100% !important;

        img {
            width: 100% !important;  
        }
    }
}

.page-banner-cta {
    overflow: hidden;
    margin-bottom: 0px !important;

    h3 {
        margin-bottom: 20px !important;
    }

    h4 {
        margin-bottom: 20px !important;
    }

    h6 {
        margin-bottom: 10px !important;
    }

    &--caption {
        padding: 10px 15px;
        border-top: solid 1px $white;
        background-color: $dark-blue;

        p {
            font-size: 14px !important;
            color: $white !important;
            margin-bottom: 0px !important;
        }
    }

    .et_pb_blurb_content {
        position: relative;
        max-width: 780px !important;
        margin: 0 auto;
        text-align: center;

        .et_pb_main_blurb_image {
            display: inline-block;
            margin-top: 30px;
            margin-bottom: 0px !important;
            line-height: 0;
            
            @include atTiny {
                max-width: 100% !important;
                float: left;
            }
                
            @include atMedium {
                max-width: 50% !important;
                float: right;
            }

        }

        .et_pb_blurb_container {
            text-align: left;
            padding: 20px 40px;

            @include atTiny {
                max-width: 100% !important;
            }
                
            @include atMedium {
                max-width: 50% !important;
            }

            .et_pb_module_header {
                @extend .keyhole-surgery-heading;

                @include atTiny {
                    font-size: 44px !important;
                }
                
                @include atMedium {
                    font-size: 35px !important;
                }

                @include atXlarge {
                    font-size: 44px !important;
                }
            }

            .et_pb_blurb_description {
                font-size: 20px !important;
                text-align: center !important;
                color: $white !important;
                @include Nav02;

                h6 {
                    @extend .et_pb_blurb_description;
                }
            }

            .small-button, .smallblue, .bigblue {
                font-family: 'Helvetica Neue LT W01_65 Mediu' !important;
                color: $white !important;
                border-width: 3px !important;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0) !important;
                background: rgba($dark-blue, 0) !important;
                box-shadow: none !important;
                @extend .learn-more;
            }
        }
    }
}

.wp-caption {
    padding: 0px !important;
    padding-top: 0px !important;
    border: 0px solid #ddd !important;
    background-color: rgba(243, 243, 243, 0) !important;
    text-align: center;

    .wp-caption-text {
        width: 96% !important;
        position: relative;
        top: -10px;
        padding: 10px 15px !important;
        margin-left: 2% !important;
        border-top: solid 1px $white;
        background-color: $dark-blue;
        font-size: 14px !important;
        color: $white !important;
    }
}


// Testimonials
.cta-widget-block {
    max-width: 370px;
    width: 100%;
    min-height: 246px;
    padding: 20px;
    border-top: solid 10px $orange;
    
    @include atTiny {
        margin: 0px auto;
    }

    @include atLarge {
        margin: 0px;
    }

    .cta-widget-title {
        margin-bottom: 15px;
        @include H06--cta-white;
    }
    .cta-widget-img {
        margin-bottom: 15px;
    }
    .cta-widget-desc {
        margin-bottom: 30px !important;
        color: $white !important;
        @include P02---white;
    }
    .cta-widget-button {
        background-color: $orange !important;
        @extend .see-more-btn;
        
        &:hover {
            background-color: $orange-hover !important;
        }
        &:active {
            background-color: $orange-active !important;
        }
    }

    .cta-resource {
        padding: 25px 15px;
        background-color: $white;
        border-top: solid 2px $silver;

        .cta-resource-title {
            font-size: 15px !important;
            font-weight: 800 !important;
            margin-bottom: 20px !important;
        }

        .cta-widget-button {
            margin-bottom: 0px !important;
        }
    }
}

.Axl_Testimonials_Widget_Slider_Widget {
    max-width: 370px;
    width: 100%;
    min-height: 246px;
    padding: 10px;
    border-top: solid 10px $orange;
    background-color: $white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .25);

    @include atMediumMax {
        margin: 0 auto;
    }
    
    .widgettitle {
        margin: 10px 25px;
        color: $dark-blue !important;
        @include H06--cta-white;
    }

    blockquote {
        border: none !important;
        padding: 0px 10px 0px 50px !important;
    }

    button {
      border-radius: 2px !important;
      background-color: #ef7827 !important;
      border: 2px solid #ef7827 !important;
      padding: 11px 30px !important;
      font-family: 'Helvetica Neue LT W01_65 Mediu' !important;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff; 
    }

    button:after {
        display: none; 
    }

    button:hover {
        color: #ffffff !important;
        padding: 11px 30px !important;
        border: 2px solid #f39d62 !important;
        background-color: #f39d62 !important; 
    }

    button:active {
        color: #ffffff !important;
        padding: 11px 30px !important;
        border: 2px solid #dc6e22 !important;
        background-color: #dc6e22 !important; 
    }

    .credit {
        font-family:"Helvetica Neue LT W01_55 Roman" !important;
        width: 199px;
        float: right;
        color: $dark-blue;
        width: 100% !important;

        &:before {
            display: none;
        }
        .author {
            font-weight: 800;
            text-transform: uppercase;
            font-size: 18px;
            padding-right: 55px;
        }
        .join-title {
            display: none;
        }
        
        .job-title {
            display: block;
            text-transform: uppercase;
            margin-bottom: 30px;
            padding-right: 55px;
        }
    }

    .bx-controls {
        position: relative;
        top: -200px;

        a {
            width: 32px;
            height: 32px;
            text-indent: 0px !important;
            direction: ltr;
            z-index: 9999;
            margin-bottom: 1em;
            margin-top: 32px;
        }

        .bx-next {
            float: right;
            margin-right: 20px;
            color: $white !important;
            background: none !important;
            
            &:after {
                font-family: "Font Awesome 5 Free";
                font-size: 28px;
                font-weight: 800;
                content: "\f105";
                color: $orange;
            }
        }

        .bx-prev {
            float: left;
            margin-left: 5px;
            color: $white !important;
            background: none !important;
           
            &:before {
                font-family: "Font Awesome 5 Free";
                font-size: 28px;
                font-weight: 800;
                content: "\f104";
                color: $orange;
            }
        }
    }
}

// References
.easy-footnote {
    sup {
        color: $light-blue !important;
    }
}

.footer-notes-container {
    padding: 20px 20px;
    width: 100%;
    background-color: $light-grey;

    &--body {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .easy-footnote-title {
        padding-bottom: 15px;
        text-transform: uppercase !important;
        @include P03;
    }

    .easy-footnotes-wrapper {
        padding: 0px !important;
    }

    .easy-footnote-single {
        color: $light-blue !important;
        @include P04---Caption-Breadcrumbs;
       
        p {
            display: inline;
            @include P04---Caption-Breadcrumbs;
            
            &:hover {
                text-decoration: underline;
            }
        }

        strong {
            display: none;
        }
    }
}
