/* ==========================================
    @Default
=========================================== */

// Homepage Classes
.Rosie-E {
  width: 86px;
  height: 20px;
  @include H09;
}

.INSPIRED-SPINE-PATIE {
  width: 195px;
  height: 16px;
  @include button02---uppercase;
}

.Easier-Treatment-Fa {
  width: 657px;
  height: 40px;
  @include H02---center-dark-blue;
}

.Stop-back-pain-easil {
  width: 970px;
  height: 28px;
  @include H06---center-dark-blue;
}

.Stop-back-pain-easil .text-style-1 {
  color: $form-blue;
}

.Routinely-Outpatient {
  width: 105px;
  height: 40px;
  @include H10---UPPERCASE;
}

.LESS-THAN-DIME-SIZE {
  width: 158px;
  height: 40px;
  @include H10---UPPERCASE;
}

.Shorter-Procedures {
  width: 116px;
  height: 40px;
  @include H10---UPPERCASE;
}

.Faster-Recovery {
  width: 91px;
  height: 40px;
  @include H10---UPPERCASE;
}

.Faster-Recovery {
  width: 91px;
  height: 40px;
  @include H10---UPPERCASE;
}

.---fas-fa-home {
  width: 72px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.---fas-fa-search {
  width: 64px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.-copy {
  width: 40px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.layer {
  width: 64px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.Keyhole-Surgery-make {
  width: 471px;
  height: 80px;
  text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.1);
  @include H03---center-white-dropshadow;
}

.When-conservative-th {
  width: 470px;
  height: 120px;
  @include P02---center-white;
}

.Conditions {
  width: 115px;
  height: 24px;
  @include H05---white;
}

.Treatments {
  width: 124px;
  height: 24px;
  @include H05---white;
}

.Locations {
  width: 105px;
  height: 24px;
  @include H05---white;
}

.Many-spine-condition {
  width: 310px;
  height: 102px;
  @include P02---white;
}

.Inspired-Spine-keyho {
  width: 310px;
  height: 121px;
  @include P02---white;
}

.Inspired-Spine-has-a {
  width: 310px;
  height: 77px;
  @include P02---white;
}

.Our-Innovative-Appro {
  width: 306px;
  height: 30px;
  @include H04;
}

.Inspired-Spine-is-a {
  width: 670px;
  height: 120px;
  @include P02---grey-bullet-list;
}

.Rectangle-3 {
  width: 340px;
  height: 65px;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: $teal;
}

.outlined {
  width: 239px;
  height: 56px;
  object-fit: contain;
}

.Keyhole-Surgery-make {
  width: 471px;
  height: 80px;
  text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.1);
  @include H03---center-white-dropshadow;
}

.When-conservative-th {
  width: 470px;
  height: 120px;
  @include P02---center-white;
}

.Our-Innovative-Appro {
  width: 306px;
  height: 30px;
  @include H04;
}

.Inspired-Spine-is-a {
  width: 670px;
  height: 120px;
  @include P02---grey-bullet-list;
}

.keyhole-graphic-full {
  width: 400px;
  height: 510px;
  object-fit: contain;
}

._DSC2352_silhouette_flopped-web {
  width: 590.7px;
  height: 549.1px;
  object-fit: contain;
  position: relative;
  left: 90px;
  // box-shadow: 0 2px 4px 0 rgba(0, 49, 80, 0.5);
}

.Rectangle-2 {
  // width: 1200px;
  // height: 414px;
  background-color: $white;
  box-shadow: 0 8px 12px 0 rgba(230, 233, 238, 0.5);
  position: relative;
  top:-100px;
}