/* ==========================================
    @Default
=========================================== */

// Default Alignment
.valign {
    vertical-align: middle;
}

.relative {
    position: relative;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.nopad {
    margin: 0!important;
    padding: 0!important;
}

.pad-top-bottom {
    padding: 50px 0;
}

.mobile-hide {
    @include responsive($small-break) {
        display: none;
    }
}

.no-pad-top {
    padding-top: 0;
}

.margin-center {
    margin: 0 auto;
}

.text-center {
    text-align: center !important;
}

.pad-right {
    padding-right:25px;
}

.pad-left {
    padding-left:25px;
}

.pad-top {
    padding-top:25px;
}

.pad-bottom {
    padding-bottom:25px;
}

.margin-top {
    margin-top: 50px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.margin-left {
    margin-left: 25px;
}

.margin-right {
    margin-right: 25px;
}

.widget {
    list-style: none;
}

// Form Fields
input {
    max-width: 350px;
    width: 100%;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
    border: solid 1px $silver;
    @include Form-default-text---14-RomanCon57-Italic-left-light-grey;

    @include responsive($small-break) {
        max-width: 100% !important;
    }
}

.gform_wrapper {
    margin: 0 !important;
    max-width: 100%;
}

.gform_wrapper ul.gform_fields li.gfield {
    padding: 0 16px !important;
}

.gform_button {
    max-width: 345px;
    width: 100% !important;
    height: 65px;
    border-radius: 2px;
    background-color: $orange;
    border: solid 1px #d66f08;
    @include button01---uppercase;
}

.gform_wrapper .gform_footer {
    padding: 5px 0 0 0 !important;
    margin: 5px 0 0 0 !important;
    clear: both;
    width: 100%;
}

.gform_wrapper .gfield_radio li label {
    margin: 2px 0 0 4px;
    font-size: .85em !important;
    display: inline !important;

    a {
       color: $orange !important; 
    }
}

.gform_wrapper h3.gform_title {
    letter-spacing: normal!important;
    margin: 10px 0 6px;
    font-size: 20px !important;
    font-weight: 500 !important;
    @include H08;
}

.form-area {
    max-width: 345px;
    width: 100%;
    padding: 0px;
    background-color: $white;
    border: solid 3px $orange;
    float: right;

    label {
      display: none !important;
    }

    .charleft {
      display: none !important;
    }

    &--mobile {
        @extend .form-area;
        max-width: 100% !important;

        .gform_button {
            @extend .gform_button;
            max-width: 100% !important;
            margin-bottom: 0px !important;
        }
    }
}

.form-field {
    @include Form-default-text---14-RomanCon57-Italic-left-light-grey;

    &--dropdown select {
        height: 40px !important;
    }
}

.footer-form_wrapper {
    label {
        display: none !important;
    }
    .charleft {
        display: none !important;
    }
    .gform_heading {
        width: 100%;
        margin-bottom: 0px !important;
    }
    ul.gform_fields li.gfield {
        padding: 0px !important;
    }
    .gform_button {
        max-width: 110px !important;
        width:100% !important;
        height: 44px !important;
    }
}
