/* ==========================================
    @Footer 
=========================================== */
#main-footer {
  border-top: 10px solid $teal !important;
  background-color: $dark-blue !important;
  .footerSection {
    @include atLargeMax {
      flex-basis: 98% !important;
      margin-left: 0px !important;
      max-width: 98% !important;
    }
  }
}
#footer-bottom {
  .footerSection {
    @include atLargeMax {
      flex-basis: 98% !important;
      margin-left: 0px !important;
      max-width: 98% !important;
    }
  }
}
.bottom-nav li {
  display: inline-block;
  padding-right: 15px !important;
  font-size: 14px;
  font-weight: 600;
  color: $white;
  @include responsive($small-break) {
    display: block !important;
    padding: 10px 0 !important;
  }
}
.et-social-icons {
  float: none !important;
  padding: 25px 0;
  margin: 0 auto;
  text-align: center;
  li {
    position: relative;
    top: -15px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: $dark-blue;
    &:first-child {
      @include atSixplusMax {
        margin-left: 0px;
      }
    }

    a {
      text-decoration: none !important;
      &:hover,
      &:focus {
        text-decoration: none !important;
      }
    }

    .icon{
    	color: $light-blue !important;
    	padding: 6px;
      font-size: 22px !important;
    }
  }
}
.Contact-Us-Today {
  max-width: 341px;
  width:100%;
  padding: 0px;
  font-size: 20px !important;
  @include H08;
}
#footer-info {
  padding: 15px 0px !important;
  color: #fff !important;
  text-align: center !important;
  font-size: 14px !important;
  @include footer-links---uppercase;
  @include atSixplusMax {
    font-size: 12px !important;
  }
}
.footerSection {
  padding: 30px 15px;

  .footer-copy {
    color: $white !important;
    @include P02---grey-bullet-list;
  }
}
.bottom-nav {
  padding: 15px 0;
  a {
    color: $white !important;
    @include footer-links---uppercase;
  }
}
.et_pb_widget {
  float: none !important;
  max-width: 100%;
  text-align: center;
}
.inspiredSpine-footer-logo {
  width: 225px;
  height: 100px;
  object-fit: contain;
}
.et_pb_scroll_top.et-pb-icon {
  display: none;
  position: fixed;
  z-index: 99999;
  right: 0px !important;
  bottom: 125px;
  padding: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  background: rgb(239, 119, 39) !important;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}