/* ==========================================
    @Footer 
=========================================== */

.et-social-icons {
    float: none !important;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}