/* ==========================================
    @Footer 
=========================================== */
#main-footer {
	border-top: 10px solid $teal !important;
    background-color: $dark-blue !important;
}
.bottom-nav li {
    display: inline-block;
    padding-right: 15px !important;
    font-size: 14px;
    font-weight: 600;
}
.et-social-icons {
    float: none !important;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
}
.Contact-Us-Today {
  	@include H08;
}
#footer-info {
    float: left;
    padding: 15px 0px !important;
    color: #fff !important;
    text-align: left;
}
.footerSection {
	padding: 30px 15px;
}
.et_pb_widget {
    float: none !important;
    max-width: 100%;
    text-align: center;
}