/* ==========================================
    @Header 
=========================================== */

.home {
  #main-header {
    background: none !important;
  }
}

#top-header .container {
  padding-top: .75em;
  font-weight: 600;
  display: none !important;
}

.move-right {
  @include atXlarge {
    position: relative;
    left:50px;
  }
}

#top-menu li.current-menu-ancestor {
  border-bottom: solid 2px $teal;
}

.logo_container {
  position: absolute !important;
  max-width: 250px !important;
  width: 100% !important;
  height: auto !important;

  @include responsive($small-break) {
    padding-left: 10px;
  }
}

#et-top-navigation {
  float: left;
  position: absolute;
  left: 0px;
  top: 125px;
  padding: 0px !important;
}

#top-menu {
  float: left;
    
  li {
    display: inline-block;
    padding: 10px 10px 0;
    @include atXlarge {
      padding: 10px 5px 0;
    }
    @include atBmax {
      padding: 10px 10px 0;
    }
    ul {
      position: absolute;
      left: 0px;
      padding: 10px 0 0 0 !important; 
      width: 200px;
      background-color: $dark-blue !important;
    }
    li {
      margin: 0;
      padding: 0px !important;
      width: 200px;
      a {
        @include Nav02;
      }
    } 
    a {
      color: rgba($white,1);
      padding-bottom: 10px !important;
      @include Nav01---uppercase;
    }
    &:hover {
      background-color: $dark-blue;
    }
    &:last-child {
      padding-right: 10px !important; 
    }
  }
}

#et-secondary-nav .menu-item-has-children > a:first-child:after, 
#top-menu .menu-item-has-children > a:first-child:after {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: 800;
  content: "\f0dd";
  color: $orange;
  transition: all .5s ease;
}

#et-secondary-nav .menu-item-has-children > a:first-child:hover:after, 
#top-menu .menu-item-has-children > a:first-child:hover:after {
  position: absolute;
  top: 3px;
  right: 0;
  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: 800;
  content: "\f0de";
  color: $orange;
}

.et_search_outer {
  overflow: hidden;
  position: absolute;
  top: 0;
  /* width: 100%; */
}

.We-make-minimally-in {
  padding: 20px 0;
  margin: 0px;
  @include H08;
  @include atXlarge {
    position: relative;
    left: 45px;
  }
  @include atBmax {
    position: relative;
    left: 0px;
  }
}

.INSPIRED-SPINE-PATIE {
  @include button02---uppercase;
}
.Rosie-E {
  @include H09;
}

.header-phone {
  position: relative;
  left: 45px;
  max-width: 269px;
  width: 100%;
  height: auto;
  object-fit: contain;

  &--footer {
    max-width: 335px;
    width: 100%;
    height: auto;
    text-align: center;
    object-fit: contain;
  }
}

.BG {
  max-width: 345px;
  width: 100%;
  height: 60px;
  border-radius: 2px;
  background-color: $orange;
  border: solid 1px #d66f08;
  float: right;
  @include button01---uppercase;

  &:after {
    position: relative;
    top: 0;
    left: 20px;
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 800;
    content: "\f0dd";
    color: $white;
    transition: all .5s ease;
  }

  &--bottom {
    @extend .BG;
    height: 45px !important;
  }

  &--footer {
    @extend .BG;
    max-width: 330px;
    height: 55px;
    padding: 20px 0;
    margin-bottom: 65px;
    float: none !important;
    &:after {
      color: $orange;
    }
  }

  &--mobile {
    @extend .BG;
    max-width: 100% !important;
  }
}

.widget_text {
  list-style: none;
}

.MY-SPINE {
  letter-spacing: normal;
  text-align: center !important;
  @include header---phone-CTA;

  &--footer {
    max-width: 341px;
    width: 100%;
    font-size: 40px !important;
    letter-spacing: normal;
    text-align: left !important;
    @include header---phone-CTA;
  }

  .pad-left {
    @include responsive($small-break) {
      padding-left: 12px !important;
    }
  }
}

// Mobile Menu
#logo {
  max-width: 70% !important;

  @include atXlarge {
    max-width: 85% !important;
  }
}

.mobile-container {
  display: none;
    
  @include responsive($small-break) {
    margin: 0px !important;
    display: block !important;
        
    &--height {
      height: 60px;
    }

    .span6 {
      flex-basis: 47.8723% !important;
      margin-left: 2.1277% !important;
      max-width: 47.8723% !important;
    }

    .mobile-phone {
      position: absolute;
      right: 60px;
      float: right;
      padding: 13px 10px 0px;
      height: 60px;
      overflow: hidden;
      background-color: $teal !important;
          
      .fa-phone{
        color: $white !important;
      }
    }

    .mobile-menu {
      position: absolute;
      right: 1px;
      float: right;
      padding: 14px 16px;
      width: 100%;
      max-width: 60px;
      background-color: $dark-blue !important;

      .fa-bars {
        margin: 0px !important;
        font-size: 30px !important;
        color: $white !important;
        text-shadow: none !important;
      }
      .fa-times-circle {
        margin: 0px !important;
        font-size: 30px !important;
        color: $white !important;
        text-shadow: none !important;
      }
    }
  }
}

.mobile-nav {
  position: absolute;
  top: 60px;
  width: 100%;
  padding: 15px;
  background-color: $dark-blue;
  
  a {
    @include Nav01---uppercase;
  }
}
.sub-menu {
  @include responsive($small-break) {
    display: none;
    margin-left: 25px;
  }
}

// .menu-item {
//   @include responsive($small-break) {
//     padding: 20px 0;
//     border-bottom: solid 2px $white;
    
//     &:last-child {
//       padding: 20px 0 !important;
//       border-bottom: none;
//     }

//     a {
//       font-size: 21px !important;
//       letter-spacing: normal;
//       @include Nav01---uppercase;
//     }
//   }
// }

.menu-item-has-children {
  @include responsive($small-break) {
    padding: 20px 0;
    border-bottom: solid 2px $white;
    
    &:last-child {
      padding: 20px 0 !important;
      border-bottom: none;
    }

    a {
      font-size: 21px !important;
      letter-spacing: normal;
      @include Nav01---uppercase;
      
      &:after {
        position: relative;
        top: 0;
        left: 20px;
        font-family: "Font Awesome 5 Free";
        font-size: 16px;
        font-weight: 800;
        content: "\f0dd";
        color: $orange;
        transition: all .5s ease;
      }
    }
  }
}
