/* ==========================================
    @Header 
=========================================== */

#main-header {
	background: none !important;
}

#top-header .container {
    padding-top: .75em;
    font-weight: 600;
    display: none !important;
}

.logo_container {
    position: absolute !important;
    max-width: 270px !important;
    width: 100% !important;
    height: auto !important;
}

#et-top-navigation {
    float: left;
    position: absolute;
    left: 55px;
    top: 125px;
    padding: 0px !important;
}

#top-menu {
    float: left;
    
    li {
        display: inline-block;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        @include Nav01---uppercase;
        ul {
            position: absolute;
            left: 0px;
            padding: 10px 0 0 0 !important; 
            width: 200px;
            background-color: $dark-blue !important;
        }
        li {
            margin: 0;
            padding: 10px 0px !important;
            width: 200px;
            @include Nav01---uppercase;
        } 
        a {
            color: rgba($white,1);
            padding-bottom: 10px !important;
        }
        &:hover {
            background-color: $dark-blue;
        }
        &:last-child {
            padding-right: 10px !important; 
        }
    }
}

#et-secondary-nav .menu-item-has-children > a:first-child:after, 
#top-menu .menu-item-has-children > a:first-child:after {
    position: absolute;
    top: 0;
    right: 0;
    font-family: ETmodules;
    font-size: 16px;
    font-weight: 800;
    content: "3";
    color: $orange;
}

.et_search_outer {
    overflow: hidden;
    position: absolute;
    top: 0;
    /* width: 100%; */
}

.header-phone- {
  max-width: 269px;
  width: 100%;
  height: auto;
  object-fit: contain;
}