/* ==========================================
    @Header 
=========================================== */

#main-header {
	background: none !important;
}

#top-header .container {
    padding-top: .75em;
    font-weight: 600;
    display: none !important;
}

.logo_container {
    position: absolute !important;
    max-width: 270px !important;
    width: 100% !important;
    height: auto !important;
}

#et-top-navigation {
    float: left;
    position: absolute;
    left: 55px;
    top: 125px;
    padding: 0px !important;
}

#top-menu {
    float: left;
    
    li {
        display: inline-block;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 10px;
        @include Nav01---uppercase; 

        a {
            color: rgba($white,1);
            padding-bottom: 10px !important;
        }
    }
}

.et_search_outer {
    overflow: hidden;
    position: absolute;
    top: 0;
    /* width: 100%; */
}

.header-phone- {
  max-width: 269px;
  width: 100%;
  height: auto;
  object-fit: contain;
}