/* ==========================================
    @Header 
=========================================== */

#main-header {
	background: none !important;
}

.logo_container {
    position: absolute !important;
    max-width: 270px !important;
    width: 100% !important;
    height: auto !important;
}