/* ==========================================
    @Homepage
=========================================== */

// Homepage Classes
.Rosie-E {
  width: 86px;
  height: 20px;
  @include H09;
}

.INSPIRED-SPINE-PATIE {
  width: 195px;
  height: 16px;
  @include button02---uppercase;
}

.Easier-Treatment-Fa {
  width: 657px;
  height: 40px;
  @include H02---center-dark-blue;
}

.Stop-back-pain-easil {
  @include H06---center-dark-blue;
}

.Stop-back-pain-easil .text-style-1 {
  color: $form-blue;
}

.Routinely-Outpatient {
  width: 105px;
  height: 40px;
  @include H10---UPPERCASE;
}

.LESS-THAN-DIME-SIZE {
  width: 158px;
  height: 40px;
  @include H10---UPPERCASE;
}

.Shorter-Procedures {
  width: 116px;
  height: 40px;
  @include H10---UPPERCASE;
}

.Faster-Recovery {
  width: 91px;
  height: 40px;
  @include H10---UPPERCASE;
}

.---fas-fa-home {
  width: 72px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.---fas-fa-search {
  width: 64px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.-copy {
  width: 40px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.layer {
  width: 64px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.Keyhole-Surgery-make {
  text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.1);
  margin: 0px auto !important;
  @include H03---center-white-dropshadow;
}

.When-conservative-th {
  @include P02---center-white;
}

.Conditions {
  width: 115px;
  height: 24px;
  @include H05---white;
}

.Treatments {
  width: 124px;
  height: 24px;
  @include H05---white;
}

.Locations {
  width: 105px;
  height: 24px;
  @include H05---white;
}

.Many-spine-condition {
  width: 310px;
  height: 102px;
  @include P02---white;
}

.Inspired-Spine-keyho {
  width: 310px;
  height: 121px;
  @include P02---white;
}

.Inspired-Spine-has-a {
  width: 310px;
  height: 77px;
  @include P02---white;
}

.Our-Innovative-Appro {
  width: 306px;
  height: 30px;
  @include H04;
}

.Inspired-Spine-is-a {
  width: 670px;
  height: 120px;
  @include P02---grey-bullet-list;
}

.Rectangle-3 {
  width: 340px;
  height: 65px;
  background-color: $teal;
}

.outlined {
  width: 239px;
  height: 56px;
  object-fit: contain;
}

.Keyhole-Surgery-make {
  max-width: 471px;
  width: 100%;
  height: auto;
  text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.1);
  @include H03---center-white-dropshadow;
}

.When-conservative-th {
  width: 470px;
  height: 120px;
  @include P02---center-white;
}

.Our-Innovative-Appro {
  width: 306px;
  height: 30px;
  @include H04;
}

.Inspired-Spine-is-a {
  width: 670px;
  height: 120px;
  @include P02---grey-bullet-list;
}

.keyhole-graphic-full {
  position: absolute;
  top: -123px;
  max-width: 400px;
  width: 100%;
  object-fit: contain;
  @include responsive($small-break) {
    position: relative;
    top: 25px;
    object-fit: contain;
  }
}

.Rectangle-2 {
  background-color: $white;
  box-shadow: 0 8px 12px 0 rgba(230, 233, 238, 0.5);
  position: relative;
  top:-65px;
  margin-bottom: -65px;

  @include responsive($small-break) {
    top: 0px !important;
    margin: 0px !important;
    padding-top: 0px !important;
    max-width: 100% !important;
  }
}

.Rectangle-3 {
  padding: 0 15px;
  background-color: $teal;
}

.Stop-back-pain-easil {
  @include H06---center-dark-blue;
  .text-style-1 {
    color: $form-blue;
  }
}

.Routinely-Outpatient {
  @include H10---UPPERCASE;
}

// Icons
.fas {
  margin-bottom: 20px;
  text-shadow: none;
}

.btn-text {
  text-shadow: 1px 1px 2px rgba(0, 49, 80, 0.5);
  @include button01---uppercase;
}

.home-cta {
  font-family:'Helvetica Neue LT W01_77 Bd Cn' !important;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  color: $white;
  p {
    @include P02---white;
  }
}

.our-approach-panel {
  padding: 0 0 30px 0 !important;
  margin-top: 20px;
  height: 315px; 
  .doctor-photo {
    position: relative;
    top: -50px;
  }
  h3 {
    text-align: left;
  }
  .et_pb_blurb_content {
    position: relative;
    max-width: 100% !important;
    margin: 0 !important;
    text-align: left !important;
  }
}

.hero-bkgd {
  @include responsive($small-break) {
      padding-bottom: 0px !important;
  }
  .silhouette-flopped-web {
    max-width: 590px !important;
    width:100% !important;
    height: auto !important;
    object-fit: contain !important;
    position: relative !important;
    left: 90px !important;
    @include responsive($small-break) {
      left: 10px !important;
      width: 100% !important;
    }
  }
  .et_pb_row {
    @include responsive($small-break) {
      margin: 0px !important;
    }
  }
  .et_pb_row.et_pb_row_fullwidth {
    @include responsive($small-break) {
      width: 95% !important;
    }
  }
  .et-last-child {
    @include responsive($small-break) {
      position: absolute !important;
      top: 0 !important;
    }
  }
  .Less-invasive {
    text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.5);
    &--name {
      text-align: left;
      padding-left: 85px;
    }

    &--button {
      padding-left: 85px;
    }
    @include responsive($small-break) {
      position: absolute !important;
      top: -90px !important;
      left: 20px !important;
      font-size: 42px !important;
      
      &--name {
        position: absolute !important;
        top: 225px !important;
        text-align: center !important;
      }

      &--button {
        position: absolute !important;
        top: 275px !important;
        text-align: center !important;
        padding-left:65px;
      }
    }
  }
  .et_pb_column {
    @include responsive($small-break) {
      margin-bottom: 0px !important;
    }
  }
  .et_pb_row_0.et_pb_row {
    @include responsive($small-break) {
      padding-top: 104px !important;
      padding-bottom: 0px !important;
    }
  }
  .et_pb_section_0 {
    @include responsive($small-break) {
      padding-bottom: 0px !important;
    }
  }
}
.our-approach-panel {
  padding-bottom: 30px !important;
  .doctor-photo {
    @include responsive($small-break) {
      max-width: 210px !important;
    }
  }
  .our-approach-text {
    padding: 85px 0px 29.6875px !important;
    h3 {
      @include H04;
    }
    p {
      font-size: 16px;
      line-height: 24px;
    }
    @include responsive($small-break) {
      padding: 15px 15px !important;
      h3 {
        font-size: 30px !important;
        text-align: center;
      }
    }
  }
}
.home .et_pb_cta_0.et_pb_promo { 
  margin-bottom: 0 !important; 
}
.home h2 { 
  font-size: 40px !important; 
  line-height: 1.4 !important; 
  @include responsive($small-break) {
    font-size: 35px !important;
  }
}
.home .et_pb_section_1 { 
  border-top: 10px solid #00c6d5;
  p {
    color: $dark-blue;
  } 
}
.et_pb_section_1 div { 
  text-align:center;
}
.home .et_pb_section_1 .fas, .home .et_pb_section_1 .far { 
  font-size: 64px; 
  color: $light-blue;
  text-shadow: 1px 3px 0 #e6e9ee; 
}
.home .abox { 
  padding: 30px;
  max-width: 370px;
  width: 100%;
  margin-right: 30px; 
}
.home .abox p { 
  color: #FFFFFF !important; 
  font-weight: 300; 
}
.home #conditions { 
  background-color: #00c6d5; 
}
.home #treatments { 
  background-color: #003150; 
}
.home #locations { 
  background-color: #009fda; 
}
.home .et_pb_section_4 .et_pb_column_single { 
  margin-top: -20px; 
}
.et_pb_row { 
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto; 
}
.learn-more {
  position: relative;
  padding: 10px 30px;
  border: 2px solid $teal;
  border-radius: 3px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  line-height: 1.7em !important;
  transition: all .2s;
  text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.5);
  @include button01---uppercase;

  &:hover {
    color: $white !important;
    padding: 11px 30px !important;
    border: 2px solid $orange !important;
    background-color: $orange !important;
  }
}

body #page-container .see-more-btn {
  color: #ffffff !important;
  border-width: 1px !important;
  border-color: $orange !important;
  border-radius: 4px;
  letter-spacing: 1px;
  padding: 11px 30px !important;
  box-shadow: 1px 1px 2px 0 rgba(0, 49, 80, 0.5);
  text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.5);
  font-size: 16px;
  font-family:'Helvetica Neue LT W01_55 Roman' !important;
  background-color: $orange;
}
.bkgd {
  width: 85% !important;
  max-width: 1200px !important;
  margin-left: auto !important;
  margin-right: 0px !important;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 5px !important;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.3);
  z-index: 10;
  p{

  }
  @include responsive($small-break) {
    max-width: 100% !important;
  }
}
.bkgd .et_pb_column_2_3, 
.bkgd .et_pb_column_2_3 {
  width: 100%;

  @include atSmall {
    width: 56% !important;
  }
}
.bkgd .et_pb_gutters3 .et_pb_column_1_3, 
.bkgd .et_pb_column_1_3 {
  width: 100%;

  @include atSmall {
    width: 35% !important;
  }
}

// Columns
.ten-columns .et_pb_module {
  width: 10%; float: left;
}
.nine-columns .et_pb_module {
  width: 11.11%; float: left;
}
.eight-columns .et_pb_module {
  width: 12.5%; float: left;
}
.seven-columns .et_pb_module {
  width: 14.28%; float: left;
}
.six-columns .et_pb_module {
  width: 16.66%; float: left;
}
.five-columns .et_pb_module {
  width: 20%; float: left;
}
.five-columns {
  width: 20%; 
  float: left;
  p {
    margin: 0 auto;
    text-align: center;
  }
  @include responsive($small-break) {
    width: 50% !important;
    
  }
  &--last {
    @extend .five-columns;
    @include responsive($small-break) {
      width: 100% !important;
    }
  }
}