/* ==========================================
    @Homepage
=========================================== */

// Homepage Classes
.Rosie-E {
  width: 86px;
  height: 20px;
  @include H09;
}

.INSPIRED-SPINE-PATIE {
  width: 195px;
  height: 16px;
  @include button02---uppercase;
}

.Easier-Treatment-Fa {
  width: 657px;
  height: 40px;
  @include H02---center-dark-blue;
}

.Stop-back-pain-easil {
  @include H06---center-dark-blue;
}

.Stop-back-pain-easil .text-style-1 {
  color: $form-blue;
}

.Routinely-Outpatient {
  width: 105px;
  height: 40px;
  @include H10---UPPERCASE;
}

.LESS-THAN-DIME-SIZE {
  width: 158px;
  height: 40px;
  @include H10---UPPERCASE;
}

.Shorter-Procedures {
  width: 116px;
  height: 40px;
  @include H10---UPPERCASE;
}

.Faster-Recovery {
  width: 91px;
  height: 40px;
  @include H10---UPPERCASE;
}

.---fas-fa-home {
  width: 72px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.---fas-fa-search {
  width: 64px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.-copy {
  width: 40px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.layer {
  width: 64px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.Keyhole-Surgery-make {
  width: 471px;
  height: 80px;
  text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.1);
  @include H03---center-white-dropshadow;
}

.When-conservative-th {
  width: 470px;
  height: 120px;
  @include P02---center-white;
}

.Conditions {
  width: 115px;
  height: 24px;
  @include H05---white;
}

.Treatments {
  width: 124px;
  height: 24px;
  @include H05---white;
}

.Locations {
  width: 105px;
  height: 24px;
  @include H05---white;
}

.Many-spine-condition {
  width: 310px;
  height: 102px;
  @include P02---white;
}

.Inspired-Spine-keyho {
  width: 310px;
  height: 121px;
  @include P02---white;
}

.Inspired-Spine-has-a {
  width: 310px;
  height: 77px;
  @include P02---white;
}

.Our-Innovative-Appro {
  width: 306px;
  height: 30px;
  @include H04;
}

.Inspired-Spine-is-a {
  width: 670px;
  height: 120px;
  @include P02---grey-bullet-list;
}

.Rectangle-3 {
  width: 340px;
  height: 65px;
  background-color: $teal;
}

.outlined {
  width: 239px;
  height: 56px;
  object-fit: contain;
}

.Keyhole-Surgery-make {
  width: 471px;
  height: 80px;
  text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.1);
  @include H03---center-white-dropshadow;
}

.When-conservative-th {
  width: 470px;
  height: 120px;
  @include P02---center-white;
}

.Our-Innovative-Appro {
  width: 306px;
  height: 30px;
  @include H04;
}

.Inspired-Spine-is-a {
  width: 670px;
  height: 120px;
  @include P02---grey-bullet-list;
}

.keyhole-graphic-full {
  width: 400px;
  height: 510px;
  object-fit: contain;
}

._DSC2352_silhouette_flopped-web {
  width: 590.7px;
  height: 549.1px;
  object-fit: contain;
  position: relative;
  left: 90px;
  // box-shadow: 0 2px 4px 0 rgba(0, 49, 80, 0.5);
}

.Rectangle-2 {
  background-color: $white;
  box-shadow: 0 8px 12px 0 rgba(230, 233, 238, 0.5);
  position: relative;
  top:-65px;
  margin-bottom: -65px;
}

.Rectangle-3 {
  padding: 0 15px;
  background-color: $teal;
}

.Stop-back-pain-easil {
  @include H06---center-dark-blue;
  .text-style-1 {
    color: $form-blue;
  }
}

.Routinely-Outpatient {
  @include H10---UPPERCASE;
}


// Custom
.home .et_pb_cta_0.et_pb_promo {margin-bottom: 0 !important;}
.home h2 { font-size: 40px; line-height: 1.4;}
.home .et_pb_section_1 { border-top: 10px solid #00c6d5;}
.et_pb_section_1 div {text-align:center;}
.home .et_pb_section_1 .fas, .home .et_pb_section_1 .far {font-size: 64px; color: #009fda;}
.home .abox {padding: 10px;}
.home .abox p {color: #FFFFFF !important; font-weight: 300;}
.home #conditions {background-color: #00c6d5;}
.home #treatments {background-color: #003150;}
.home #locations {background-color: #009fda;}
.home .et_pb_section_4 .et_pb_column_single {margin-top: -20px;}
#main-footer {border-top: 10px solid #00c6d5;}

// Columns
.ten-columns .et_pb_module {width: 10%; float: left;}
.nine-columns .et_pb_module {width: 11.11%; float: left;}
.eight-columns .et_pb_module {width: 12.5%; float: left;}
.seven-columns .et_pb_module {width: 14.28%; float: left;}
.six-columns .et_pb_module {width: 16.66%; float: left;}
.five-columns .et_pb_module {width: 20%; float: left;}
.five-columns {width: 20%; float: left;}
