/* ==========================================
    @Homepage
=========================================== */

// Homepage Classes
.Rosie-E {
  width: 86px;
  height: 20px;
  @include H09;
}

.INSPIRED-SPINE-PATIE {
  width: 195px;
  height: 16px;
  @include button02---uppercase;
}

.Easier-Treatment-Fa {
  width: 657px;
  height: 40px;
  @include H02---center-dark-blue;
}

.Stop-back-pain-easil {
  @include H06---center-dark-blue;
}

.Stop-back-pain-easil .text-style-1 {
  color: $form-blue;
}

.Routinely-Outpatient {
  width: 105px;
  height: 40px;
  @include H10---UPPERCASE;
}

.LESS-THAN-DIME-SIZE {
  width: 158px;
  height: 40px;
  @include H10---UPPERCASE;
}

.Shorter-Procedures {
  width: 116px;
  height: 40px;
  @include H10---UPPERCASE;
}

.Faster-Recovery {
  width: 91px;
  height: 40px;
  @include H10---UPPERCASE;
}

.---fas-fa-home {
  width: 72px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.---fas-fa-search {
  width: 64px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.-copy {
  width: 40px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.layer {
  width: 64px;
  height: 64px;
  text-shadow: 1px 3px 0 $light-grey;
  @include icons01;
}

.Keyhole-Surgery-make {
  text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.1);
  margin: 0px auto !important;
  @include H03---center-white-dropshadow;
}

.When-conservative-th {
  @include P02---center-white;
}

.Conditions {
  width: 115px;
  height: 24px;
  @include H05---white;
}

.Treatments {
  width: 124px;
  height: 24px;
  @include H05---white;
}

.Locations {
  width: 105px;
  height: 24px;
  @include H05---white;
}

.Many-spine-condition {
  width: 310px;
  height: 102px;
  @include P02---white;
}

.Inspired-Spine-keyho {
  width: 310px;
  height: 121px;
  @include P02---white;
}

.Inspired-Spine-has-a {
  width: 310px;
  height: 77px;
  @include P02---white;
}

.Our-Innovative-Appro {
  width: 306px;
  height: 30px;
  @include H04;
}

.Inspired-Spine-is-a {
  width: 670px;
  height: 120px;
  @include P02---grey-bullet-list;
}

.Rectangle-3 {
  width: 340px;
  height: 65px;
  background-color: $teal;
}

.outlined {
  width: 239px;
  height: 56px;
  object-fit: contain;
}

.Keyhole-Surgery-make {
  width: 471px;
  height: 80px;
  text-shadow: 2px 2px 2px rgba(0, 49, 80, 0.1);
  @include H03---center-white-dropshadow;
}

.When-conservative-th {
  width: 470px;
  height: 120px;
  @include P02---center-white;
}

.Our-Innovative-Appro {
  width: 306px;
  height: 30px;
  @include H04;
}

.Inspired-Spine-is-a {
  width: 670px;
  height: 120px;
  @include P02---grey-bullet-list;
}

.keyhole-graphic-full {
  position: absolute;
  top: -135px;
  object-fit: contain;
}

._DSC2352_silhouette_flopped-web {
  width: 590.7px;
  height: 549.1px;
  object-fit: contain;
  position: relative;
  left: 90px;
  // box-shadow: 0 2px 4px 0 rgba(0, 49, 80, 0.5);
}

.Rectangle-2 {
  background-color: $white;
  box-shadow: 0 8px 12px 0 rgba(230, 233, 238, 0.5);
  position: relative;
  top:-65px;
  margin-bottom: -65px;
}

.Rectangle-3 {
  padding: 0 15px;
  background-color: $teal;
}

.Stop-back-pain-easil {
  @include H06---center-dark-blue;
  .text-style-1 {
    color: $form-blue;
  }
}

.Routinely-Outpatient {
  @include H10---UPPERCASE;
}

// Icons
.fas {
  margin-bottom: 20px;
  text-shadow: 1px 3px 0 $light-grey;
}

.btn-text {
  text-shadow: 1px 1px 2px rgba(0, 49, 80, 0.5);
  @include button01---uppercase;
}

.home-cta {
  font-family:'Helvetica Neue LT W01_77 Bd Cn' !important;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1px;
  text-align: left;
  color: $white;
}


// Custom
.home .et_pb_cta_0.et_pb_promo { margin-bottom: 0 !important; }
.home h2 { font-size: 40px !important; line-height: 1.4 !important; }
.home .et_pb_section_1 { border-top: 10px solid #00c6d5; }
.et_pb_section_1 div { text-align:center;}
.home .et_pb_section_1 .fas, .home .et_pb_section_1 .far { font-size: 64px; color: #009fda; }
.home .abox { padding: 30px; }
.home .abox p { color: #FFFFFF !important; font-weight: 300; }
.home #conditions { background-color: #00c6d5; }
.home #treatments { background-color: #003150; }
.home #locations { background-color: #009fda; }
.home .et_pb_section_4 .et_pb_column_single { margin-top: -20px; }
#main-footer { border-top: 10px solid #00c6d5; }
.et_pb_row { position: relative;width: 95%;max-width: 1080px;margin: auto; }

.learn-more {
    position: relative;
    padding: 10px 30px;
    border: 2px solid $teal;
    border-radius: 3px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    line-height: 1.7em !important;
    transition: all .2s;
    @include button01---uppercase;

    &:hover {
      color: $white !important;
      padding: 11px 30px !important;
      border: 2px solid $orange !important;
      background-color: $orange !important;
    }
}

.see-more-btn {
    color: #ffffff!important;
    border-width: 1px!important;
    border-color: $orange;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 15px;
    font-family:'Helvetica Neue LT W01_55 Roman' !important;
    background-color: $orange;
}

.bkgd {
    max-width: 85% !important;
    margin-left: auto !important;
    margin-right: 0px !important;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: 6px 6px 18px 0px rgba(0,0,0,0.3);
    z-index: 10;
}

.bkgd .et_pb_column_2_3, 
.bkgd .et_pb_column_2_3 {
    width: 100%;

    @include atSmall {
      width: 56% !important;
    }
}

.bkgd .et_pb_gutters3 .et_pb_column_1_3, 
.bkgd .et_pb_column_1_3 {
    width: 100%;

    @include atSmall {
      width: 35% !important;
    }
}

// Columns
.ten-columns .et_pb_module {width: 10%; float: left;}
.nine-columns .et_pb_module {width: 11.11%; float: left;}
.eight-columns .et_pb_module {width: 12.5%; float: left;}
.seven-columns .et_pb_module {width: 14.28%; float: left;}
.six-columns .et_pb_module {width: 16.66%; float: left;}
.five-columns .et_pb_module {width: 20%; float: left;}
.five-columns {
    width: 20%; 
    float: left;
    p {
      margin: 0 auto;
      text-align: center;
    }
}
